body {
    background-image: linear-gradient(#8FBC8F, #90EE90);
    background-position: top center;
    background-repeat: repeat;
    background-size: 3000px 3000px;
  }   
    
    nav {
      display: flex;
      justify-content: space-between;
      padding: 35px;
    }
    
    nav {
    margin-right: 0px;
    font-size: 1.25em;
    text-transform: uppercase;
    }
    
    a {
      color: #131818;    
      text-decoration: underline;
      transition: color 0.5s ease;
      font-family: Helvetica, sans-serif;
    }

    a:hover {
      color:aqua; 
      border: 1px black;
    }
  